.calendar_calendar_layout_cells:hover {
    background: #b33939;
}

.calendar_calendar_layout_cells {
    cursor: pointer;
    font-size: 20px;
}

.calendar_today_date {
    font-family: Oswald;
    font-size: 30px;
}

input {
border: 1px solid #ccc;
  color: #888;
  margin: 0.5em;
  vertical-align: middle;
  outline: 0;
  padding: 0.5em 1em;
  border-radius: 4px;
  width: 85%;
}